In [1]:
!pip install tslearn

Requirement already satisfied: tslearn in /opt/conda/lib/python3.7/site-packages (0.5.0.5)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from tslearn) (1.5.4)
Requirement already satisfied: joblib in /opt/conda/lib/python3.7/site-packages (from tslearn) (1.0.1)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from tslearn) (1.19.5)
Requirement already satisfied: Cython in /opt/conda/lib/python3.7/site-packages (from tslearn) (0.29.23)
Requirement already satisfied: numba in /opt/conda/lib/python3.7/site-packages (from tslearn) (0.53.1)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.7/site-packages (from tslearn) (0.24.1)
Requirement already satisfied: llvmlite<0.37,>=0.36.0rc1 in /opt/conda/lib/python3.7/site-packages (from numba->tslearn) (0.36.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from numba->tslearn) (49.6.0.post20210108)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from scikit-learn->tslearn) (2.1.0)

In [2]:
from tslearn.utils import to_time_series_dataset
from tslearn.clustering import TimeSeriesKMeans
import pandas as pd

In [3]:
df = pd.read_csv('data.csv', index_col=0)

In [4]:
df .head()

,U1,U2,U3,U4,U5,U6,U7,U8,U9,U10,...,S2_11,S2_12,S2_13,S2_14,S2_15,S2_16,S2_17,S2_18,S2_19,S2_20
1,-1.369116,0.588713,-0.331683,0.956604,1.719448,-1.624502,-0.990678,0.886110,1.202466,0.640265,...,-0.759501,-0.647794,-0.790478,1.475009,0.298057,-1.098037,0.850984,-0.978142,-0.094059,-1.563210
2,0.413444,-0.881422,-0.057365,1.887388,0.122004,-3.372905,0.210756,-0.428336,4.454524,-0.951762,...,1.228968,3.557932,2.345388,2.750395,3.482565,2.375817,4.281437,0.354449,2.525218,2.201484
3,1.501657,0.201008,-1.245297,2.270236,-0.361249,1.938491,3.835235,-0.025113,6.146861,0.741025,...,5.775468,4.053440,3.288227,3.011937,3.320740,4.354548,7.000637,2.008984,3.482153,5.735146
4,1.614704,0.619525,-3.441087,3.652103,0.155117,2.989046,1.495931,3.153596,7.260651,0.599006,...,5.532211,7.297367,5.996035,2.035381,5.843981,5.949602,9.120375,3.242696,3.787943,6.989630
5,2.606210,1.529422,1.198023,4.469868,-1.792950,1.813075,1.673723,1.395687,5.256596,2.157961,...,2.983631,2.212022,5.908732,3.817045,7.009344,6.672379,9.935899,5.332582,4.893954,5.512125

In [5]:

ts = to_time_series_dataset(df.T)

#形の確認
ts.shape

(100, 60, 1)

In [6]:
ts

array([[[ -1.36911576],
        [  0.4134441 ],
        [  1.5016571 ],
        ...,
        [ 23.20699066],
        [ 26.19243319],
        [ 22.47147175]],

       [[  0.58871342],
        [ -0.88142205],
        [  0.20100815],
        ...,
        [ 36.27279402],
        [ 34.83189298],
        [ 36.00628187]],

       [[ -0.33168339],
        [ -0.05736545],
        [ -1.2452973 ],
        ...,
        [ 18.19216913],
        [ 20.82213286],
        [ 18.14717848]],

       ...,

       [[ -0.9781419 ],
        [  0.35444924],
        [  2.00898362],
        ...,
        [ -0.87804185],
        [  1.90137692],
        [  1.84131418]],

       [[ -0.09405903],
        [  2.52521841],
        [  3.48215263],
        ...,
        [-10.83674329],
        [ -8.87848103],
        [ -9.65634187]],

       [[ -1.56321043],
        [  2.20148357],
        [  5.73514572],
        ...,
        [  3.84033062],
        [  7.29490162],
        [ 11.87765923]]])

In [7]:
km = TimeSeriesKMeans(n_clusters=5, metric="dtw")
labels = km.fit_predict(ts)

In [8]:
labels

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       3, 1, 1, 1, 3, 1, 1, 1, 0, 3, 3, 3, 0, 1, 3, 1, 3, 1, 2, 4, 4, 2,
       4, 2, 4, 4, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 4, 1, 0, 1, 1, 1, 0,
       1, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 1, 1, 3, 1, 1,
       3, 1, 3, 1, 1, 3, 3, 3, 3, 3, 1, 3])